<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {% include gtm.html %}
  {% if page.amphtml %}
  <link rel="amphtml" href="{{ site.url }}/amp{{ page.permalink }}">
  {% endif %}
  {% if page.noindex %}
  <meta name="robots" content="noindex">
  {% endif %}
  <meta name="description" content="{{ page.meta | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  {% if page.twitter %}
  {% include twitter-card.html %}
  {% endif %}
  {% if page.og %}
  {% include og.html %}
  {% endif %}
  <link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.url }}/favicon-16x16.png" sizes="16x16">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');
  </style>
  {% if page.schema %}
  {% include schema.html %}
  {% endif %}
</head>
