<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {% if page.amphtml %}
  <link rel="amphtml" href="{{ site.url }}/amp{{ page.permalink }}">
  {% endif %}
  {% if page.noindex %}
  <meta name="robots" content="noindex">
  {% endif %}
  <meta name="description" content="{{ page.meta | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  {% if page.twitter %}
  {% include twitter-card.html %}
  {% endif %}
  {% if page.og %}
  {% include og.html %}
  {% endif %}
  {% include favicon.html %}
  <meta name="theme-color" content="#ffffff"/>
  <style>
  {% include atf.css %}{% include header.css %}
  </style>
  <link rel="canonical" href="{{ site.url | replace:'index.html','' | absolute_url }}{{page.permalink}}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="manifest" href="/manifest.json">
  {% if page.schema %}
  {% include schema.html %}
  {% endif %}
</head>
