<nav class="nav">
  <ul class="nav__ul">
    <li class="nav__li">
      <a class="nav__a" href="#">
        Services
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="#">
        Work
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="#">
        About
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="mailto:michael@ovidesign.com">
        Contact
      </a>
    </li>
    <li class="nav__li">
      <a class="nav__a" href="#">
        Blog
      </a>
    </li>
  </ul>
</nav>
{% include nav-bar.html %}
