<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "url": "https://www.ovidesign.com",
  "image": "http://www.jollietree.com/assets/img/logo.svg",
  "logo": "http://www.jollietree.com/assets/img/logo.svg",
  "name": "{{ site.title }}",
  "description": "SEO Training and Web Design & Development Company in Madison, Wisconsin.",
  "telephone": "{{ site.tel }}",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Middleton",
    "addressRegion": "WI",
    "postalCode": "53562"
  },
   "priceRange": "$$$ - $$$$"
}
</script>
