.btn {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  border-radius: 0;
  font-family: $sans;
  font-size: 16px;
  padding: 12px 18px;
  background-color: transparent;
  cursor: pointer;
  // User-Agent Style Overrides
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-image: none;
  &:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline: none;
  }
}
.btn--violet {
  border-color: $violet;
  border-style: solid;
  border-width: 3px;
  border-radius: 32px;
  color: $violet;
}

.btn--a {
  max-width: 168px;
  @include tablets {
    width: 100%;
  }
}
