button.btn,
a.btn {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  border-radius: 4px;
  font-family: $sans;
  font-size: 16px;
  padding: 12px 18px;
  cursor: pointer;
  // User-Agent Style Overrides
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-image: none;
  &:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline: none;
  }
  &.btn-default {
    background-color: $lt-grey;
    color: $text;
  }
  &.btn-primary {
    background-color: $btn;
    color: $white;
  }
  &.btn-accent {
    background-color: $accent;
    color: $white;
  }
  &.btn-transparent {
    background-color: transparent;
    &#navicon {
      padding: 2px 3px;
    }
  }
}
