.footer {
  background: lighten($black, 10%);
  padding: 36px 0;
  .container {
    padding: 12px 16px;
    @include phones {
      padding: 12px 36px;
    }
    @include tablets {
      padding: 16px 72px;
    }
    @include desktops {
      padding: 24px 144px;
    }
  }
  p {
    font-family: $copy;
    color: darken($lines, 15%);
    line-height: 1.6em;
    font-size: 16px;
  }
  a {
    font-family: $copy;
    color: darken($lines, 15%);
    text-decoration: underline;
    &:hover {
      color: $lines;
    }
  }
}
.footer-ground {
  background: $black;
  padding: 16px 0;
}
