.header {
  background-color: $lt-blue;
}

.header__section {
  overflow: hidden;
  background-image: url("assets/img/fastmobile.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right top;
  @include phones {
    background-size: contain;
    background-position: 90% 50%;
    min-height: 300px;
  }
}

.header__content {
  padding: 78px 32px 32px 32px;
  max-width: 560px;
  text-align: left;
}

.header__heading {
  padding-bottom: 16px;
  font-size: 4em;
  color: $white;
  font-weight: 400;
  line-height: 1em;
  @include tablets {
    font-size: 8em;
  }
}

.header__heading--strong {
  margin-right: 10000px;
}
.header__description {
color: $white;
font-size: 16px;
line-height: 1.6em;
padding-bottom: 16px;
font-weight: 600;
}
// REMOVE THIS - FOR DEV Only
main {
  height: 600px;
}
