.header {
  background-color: $lt-blue;
}

.header__section {
  overflow: hidden;
  background-image: url("assets/img/fastmobile.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right top;
  @include phones {
    background-size: contain;
    background-position: 90% 50%;
    min-height: 300px;
  }
}

.header__content {
  padding: 78px 32px 32px 32px;
  max-width: 560px;
  text-align: left;
}

.header__heading {
  line-height: 1em;
  padding-top: 0;
  color: $white;
  font-size: 2em;
  font-weight: 700;
  white-space: normal;
  word-spacing: 600px;
  @include phones {
    font-size: 3.5em;
  }
  @include tablets {
    font-size: 5em;
    padding-top: 16px;
  }
}
.header__description {
color: $white;
font-size: .8em;
line-height: 1.4em;
padding-bottom: 16px;
font-weight: 400;
  @include phones {
    font-size: 1.5em;
  }
  @include tablets {
    font-size: 2em;
    padding-top: 16px;
  }
}
