header {
  position: relative;
  z-index: 100;
  padding-top: 1em;
  &:before {
    content: "";
    display: block;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 75%;
    background-color: darken($nav, 15%);
  }
}

.post-header {
  display: block;
  position: relative;
  z-index: 200;
  width: 90%;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  @include prefix(box-shadow, -1px 7px 23px -2px rgba(179,165,179,1));
}
