.mobile-only {
  display: block;
  @include phones {
    display: none;
  }
}

.desktop-only {
  display: none;
  @include phones {
    display: block;
  }
}

.rotate-180 {
  @include prefix(transform, rotate(180deg));
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
