// Articles & Sections
article {
  padding: 16px 0;
  width: 90%;
  min-width: 290px;
  max-width: 800px;
  @include tablets {
    width: 84%;
  };
  @include desktops {
    width: 65%;
  };
  margin: 0 auto;
}

section {
  padding: 12px 0 24px 0;
  border-bottom: 1px solid $lines;
  &:last-child {
    border-bottom: 1px solid transparent;
  }
}
