.container {
  width: 96%;
  min-width: 290px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0;
  @include tablets {
    width: 92%;
  }
  @include desktops {
    width: 90%;
  }
}
article {
  width: 90%;
  min-width: 290px;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px 0;
  @include tablets {
    width: 84%;
  }
  @include desktops {
    width: 65%;
  }
}
