.post-header {
  display: block;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  background-color: $lines;
  @include desktops {
    padding: 2em;
  }
}

figure {
  width: 75%;
  margin: 0 auto;
  padding: 1em;
  background-color: $lines;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  figcaption {
    padding: 8px 0;
    font-style: italic;
    text-align: center;
  }
}
