.hero-image {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

figure {
  width: 80%;
  background-color: $lines;
  padding: 16px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  figcaption {
    padding: 8px 0;
    font-style: italic;
    text-align: center;
  }
}
