$nav: #f1f1f1;
$nav-dk: #6d6d6d;
// Whole Nav Element
nav {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid darken($nav, 10%);
  border-top: 1px solid darken($nav, 10%);
  @include tablets {
    background-color: $nav;
  }
}

// Nav Logo
.nav-logo {
  background-color: #fff;
  width: 200px;
  padding: 1em;
  z-index: 400;
  float: none;
  @include tablets {
    float: left;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

// Nav & Links
.nav {
  display: block;
  float: none;
  height: 1%;
  max-height: 1px;
  width: 100%;
  transition: all 0.4s ease;
  margin: 0 0;
  padding: 0 0;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;
  background-color: transparent;
  border-top: 1px solid darken($nav, 10%);
  &.visible {
    top: auto;
    height: 100%;
    max-height: 400px;
    width: 100%;
    overflow: visible;
    background-color: $nav;
  }
  @include tablets {
    height: 100%;
    overflow: visible;
    background-color: $nav;
    float: left;
    width: auto;
    text-align: center;
    border-top: 0px solid transparent;
  }
  li {
    display: block;
    padding: 1em 2em;
    list-style: none;
    border-bottom: 1px solid darken($nav, 10%);
    text-indent: .8em;
    @include tablets {
      display: inline-block;
      padding: 0 2em;
      border-bottom: 0px solid transparent;
      border-right: 1px solid darken($nav, 10%);
      text-indent: 0;
      &:first-child {
        border-left: 1px solid darken($nav, 10%);
      }
      &:hover {
        a {
          color: $primary;
        }
      }
    }
    &.active {
      a {
        color: $primary;
      }
    }
    a {
      padding: 12px 0;
      color: #212121;
      text-decoration: none;
      display: block;
      font-size: 16px;
      @include tablets {
        padding: 1em;
      }
    }
  }
}

// Navicon - Mobile only
#navicon {
  display: block;
  position: absolute;
  height: 18px;
  width: 24px;
  background-image: url(../assets/img/navicon.svg);
  border-radius: 0px;
  top: 16px;
  right: 14px;
  @include tablets {
    display: none;
  }
}
