.nav {
  display: none;
}
@include tablets {
  .nav {
    display: block;
    height: 74px;
    background-color: #fff;
    ul {
      text-align: right;
      padding-right: 24px;
    }
    li {
      display: inline-block;
    }
    a {
      display: block;
      padding: 24px 48px;
      text-decoration: none;
      color: $text;
      font-size: 16px;
    }
  }
}
.nav-bar {
  display: block;
  background-color: $white;
  height: 48px;
  @include tablets {
    display: none;
  }
}
