body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #212121;
  font-family: $sans;
  font-size: 1.375em;
}

// Posts
.post {
  h1 {
    font-size: 1.65em;
    color: $primary;
    @include tablets {
      font-size: 1.85em;
    }
  }
  h2 {
    padding-top: 18px;
    font-size: 1.45em;
    @include tablets {
      font-size: 1.55em;
    }
  }
  h3 {
    padding-top:8px;
    font-size: 1.45em;
  }
  p {
  	font-size: 1.25em;
  	line-height: 1.475em;
  	@include phones {
  		font-size: 1.35em;
  	}
  	@include tablets {
  		font-size: 1.45em;
  	}
  	@include desktops {
  		font-size: 1.55em;
  	}
  }

  .lead {
  	font-size: 1.55em;
    @include phones {
  		font-size: 1.65em;
  	}
  	@include tablets {
  		font-size: 1.75em;
  	}
  	@include desktops {
  		font-size: 1.85em;
  	}
  }
  li {
    font: 1.5em/1.8;
  }
  a {
    color: $primary;
  }
  .pullquoute {
    &:before {
      content: attr(data-pullquote);
      display: block;
      padding: 2em 4px;
      text-align: center;
      font: 1.5em/1.6;
      @include tablets {
        font: 1.8em/2;
      }
      border-top: double 12px #ddd;
      border-bottom: double 12px #ddd;
    }
  }
}
