body {
  background-color: $white;
  color: $text;
  font-family: $serif;
  font-size: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans;
}

// Posts
.post {
  h1 {
    font-size: 1.75em;
    color: $primary;
    @include tablets {
      font-size: 2.2em;
    }
  }
  h2 {
    padding-top: 18px;
    font-size: 1.5em;
    @include tablets {
      font-size: 1.65em;
    }
  }
  h3 {
    padding-top:8px;
    font-size: 1.375em;
  }
  p {
  	font-size: 1.275em;
  	line-height: 1.72em;
  	color: $text;
  	@include phones {
  		font-size: 1.30em;
  	}
  	@include tablets {
  		font-size: 1.35em;
  	}
  	@include desktops {
  		font-size: 1.375em;
  	}
  }

  .lead {
  	font-size: 1.55em;
    @include phones {
  		font-size: 1.65em;
  	}
  	@include tablets {
  		font-size: 1.75em;
  	}
  	@include desktops {
  		font-size: 1.85em;
  	}
  }
  li {
    font: 1.275em/1.8 $sans;
  }
  a {
    color: $primary;
  }
  .pullquoute {
    &:before {
      content: attr(data-pullquote);
      display: block;
      padding: 2em 4px;
      text-align: center;
      font: italic 1.3em/1.6 $serif;
      @include tablets {
        font: italic 1.6em/2 $serif;
      }
      border-top: double 12px #ddd;
      border-bottom: double 12px #ddd;
    }
  }
}
