body {
  background-color: $white;
  color: $text;
  font-family: $serif;
  font-size: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans;
}

// Posts
.post {
  h2 {
    font-size: 1.8em;
  }
  p {
  	font-size: 1.012em;
  	line-height: 1.65em;
  	color: $text;
  	@include phones {
  		font-size: 1.2em;
  	}
  	@include tablets {
  		font-size: 1.275em;
  	}
  	@include desktops {
  		font-size: 1.3em;
  	}
  }

  .lead {
  	font-size: 1.25em;
    @include phones {
  		font-size: 1.35em;
  	}
  	@include tablets {
  		font-size: 1.45em;
  	}
  	@include desktops {
  		font-size: 1.55em;
  	}
  }
}
