// Colors
$primary: #0078d7;
$lt-blue: #4e7095;
$dk-blue: #2a354f;
$violet: #604d8d;
$accent: #db4200;
$text: #212121;
$white: #fff;
$black: #000;
$btn: #3079ed;
$lt-grey: #f5f5f5;
$nav: #f1f1f1;
$nav-dk: #6d6d6d;
$lines: #ececec;

// Fonts
$sans:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif;
