// Colors
$primary: #1565c0;
$dk-blue: #003c8f;
$lt-blue: #5e92f3;
$accent: #bf360c;
$text: #2a2d3b;
$white: #fff;
$black: #000;
$lt-grey: #f9f9f9;
$lines: #ececec;

// Fonts
$copy: "Helvetica Neue",Helvetica,Arial,sans-serif;
$asap: 'Asap', sans-serif;
