// Colors
$primary: #1565c0;
$dk-blue: #003c8f;
$lt-blue: #5e92f3;
$accent: #bf360c;
$text: #3f3f3f;
$white: #fff;
$black: #000;
$lt-grey: #f9f9f9;
$lines: #ececec;

// Fonts
$serif: 'Libre Baskerville', serif;
$sans: 'Open Sans', sans-serif;
$copy: "Helvetica Neue",Helvetica,Arial,sans-serif;
