// Import partials.
@import
  "partials/reset",
  "partials/group",
  "partials/variables",
  "partials/mixins",
  "partials/helper-classes",
  "partials/layout",
  "partials/coming",
  "partials/type",
  "partials/media",
  "partials/buttons",
  "partials/header",
  "partials/footer",
  "partials/nav"
;
